# Environment variables
*.env*
!*.env*.example
*.password*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# MacOS
.DS_Store

# Node
node_modules
.pnpm-debug.log*
*.local

# Build outputs
.next
next-env.d.ts
tsconfig.tsbuildinfo
dist
build
dist-ssr
/.cache

# Contract outputs
packages/contracts/cache/
packages/contracts/out/

packages/contracts/lib
packages/contracts/broadcast/
packages/frontend/src/generated.ts

# Editor configs and files
.idea
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vocs bunild artifacts
*.config.ts.timestamp-*

# Typedoc generated api reference.
# Ignored to discourage manual editing
packages/docs/docs/pages/*/api

# Cloned Repositories
packages/bundler/alto

# Local deployments
packages/contracts/deployments/LOCAL/

# SQLite files
*.sqlite

# Graphql
packages/dex-magicswap/.graphclient/
packages/dex-magicswap/app/generated.ts